<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156563194381-vbl1tgiiv3t61e4rdoceeqbkq655au5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156563194381-vbl1tgiiv3t61e4rdoceeqbkq655au5b</string>
	<key>API_KEY</key>
	<string>AIzaSyCdv39Bj7oZ0BPpR_RK4_nRb27qfcOGYP8</string>
	<key>GCM_SENDER_ID</key>
	<string>156563194381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammetkadir.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-13ede</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-13ede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156563194381:ios:612147d9a460d58c864b44</string>
</dict>
</plist>